<div class="row mb-3 mt-3">

    <div class="main-image">
        <div class="image-sh p-0 m-0 border">
            <img class="img-fluid image-opa" ng-src="{{gameDCtrl.gameId}}.jpg" alt="First slide">
        </div>


        <div class="row  ml-0 mr-0 mt-3">

            <div class="news-row border p-0 background-white image-sh relative">
                <img class="img-fluid image-supergrey" ng-src="{{gameDCtrl.gameId}}.jpg">
                <div class="game-choose"> Trailer </div>
            </div>
            <div class="news-row border p-0 background-white ml-auto image-sh relative">
                <img class="img-fluid image-supergrey" src="youtube.jpeg">
                <div class="game-choose"> Videos </div>
            </div>
            <div class="news-row border p-0 background-white ml-auto image-sh relative">
                <img class="img-fluid image-supergrey" src="twitch.jpg">
                <div class="game-choose"> Twitch </div>
            </div>
            <div class="news-row border p-0  background-white ml-auto image-sh relative">
                <img class="img-fluid image-supergrey" src="review.jpg"> <div class="game-choose"> Review </div> </img>
                
            </div>
        </div>

        <div class="row mt-5">

            <div class="col-7 p-0 pr-1 m-3">

                <div class="row">
                    <div class="col text-center">
                        <a class="title">
                            <span class="fas fa-keyboard "></span> Reviews 
                        </a>
                    </div>
                </div>
				
				<br>

                <div class="row border-bottom border-top border-secondary">
					<div class = "col text-left"> 
						<i class="fas fa-plus"></i>
						<i class = "list-details" ng-click = "gameDCtrl.showModal($event)"> Submit Review</i>
					</div>
					<div class="col text-right mr-0 pr-0"> 
						<i class="list-details"> Total: 30,00 reviews </i>
					</div>
                </div>
				
				<br>

                <div ng-repeat="cenas in gameDCtrl.reviews track by $index" class="row border-bottom  border-secondary">
                    <div class="col-7 ml-5">
                        <i>
                            <b> dsadasdsd - COiso </b>
                        </i>
                        <br>
                        <i> Teste 2123213213 dsadasdsa asd asdasd sad asdsa dsa asd asdasdasdasdasdas dsad ...</i>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="main-column p-0 m-0 ml-3 mt-3">

        <div class="border-bottom border-secondary pb-4">
            <div class="title mt-3 text-center">The Witcher 3 :dasdadador</div>
            <br>

            <div class="border border-secondary text-center mx-5 sh">
                <span class="far fa-heart"> </span> Like </div>

            <div class="text-center mt-5 mb-1">
                <span class="far fa-star"></span>
                <span class="far fa-star "></span>
                <span class="far fa-star "></span>
                <span class="far fa-star "></span>
                <span class="far fa-star "></span>
                <span class="far fa-star "></span>
                <span class="far fa-star "></span>
                <span class="far fa-star "></span>
                <span class="far fa-star "></span>
                <span class="far fa-star "></span>
                <div>
                    <i class="midbold"> 0 / 10 </i>
                </div>
            </div>

            <br>

            <div class="gamedetails">
                <i class="midbold">Description - </i> dsadsadsadadsad d sadsald s dlsa dls,a dslad lsad lsad lsad sadl s l sald sald sald lsdsa
                pdwlqpdsa asld sal dsal dsa ldas ldas ldsa ldsa sald sald lsdsa pdwlqpdsa asld sal dsal dsa ldas ldas ldsa
                sald sald lsdsa pdwlqpdsa asld sal dsal dsa ldas ldas ldsa sald sald lsdsa pdwlqpdsa asld sal dsal dsa ldas
                ldas ldsa s ldsa sald sald lsdsa pdwlqpdsa asld sal dsal dsa ldas ldas ldsa sald sald lsdsa pdwlqpdsa asld
                sal dsal dsa ldas ldas ldsa s ldsa sald sald lsdsa pdwlqpdsa asld sal dsal dsa ldas ldas ldsa sald sald lsdsa
                pdwlqpdsa asld sal dsal dsa ldas ldas ldsa

            </div>
            <div class="gamedetails">
                <i class="midbold">Genre - </i> adasdsad</div>
            <div class="gamedetails">
                <i class="midbold">Released - </i> adasdsad</div>
            <div class="gamedetails">
                <i class="midbold">Company - </i> adasdsad</div>
		<br>
		<br>
        </div>
		
        <div class="border-bottom border-secondary pb-4">
            <div class="title mt-3 mb-4 text-center">
                <span class="fas fa-key mt-3"></span> Keywords</div>
            <i class="list-details"> Survivor</i>
            <br>
            <i class="list-details"> FPS</i>
            <br>
            <i class="list-details"> OpenWorld</i>
            <br>
        </div>
        <br>
        <div class="border-bottom border-secondary pb-4">
            <div class="title mt-3 text-center">
                <span class="fas fa-desktop "></span> System Requirements</div>
            <br>
            <div class="system-req">
                <i class="midbold">System - </i> Windows 7/8/10 XboxOne PS4</div>
            <div class="system-req">
                <i class="midbold">Processor - </i> Intel 3</div>
            <div class="system-req">
                <i class="midbold">Memory - </i> 6 GB RAM</div>
            <div class="system-req">
                <i class="midbold">Graphics - </i> ATI 5770, Nvidia GeForce GTX 460 </div>
            <div class="system-req">
                <i class="midbold">Storage - </i> 5 GB available space </div>
            <div class="system-req">
                <i class="midbold">DirectX - </i> Version 10 </div>
        </div>


    </div>

</div>